<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Routes to index</description>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.darbuth.pets.controllers.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Routes to the dog page</description>
    <servlet-name>Dog</servlet-name>
    <servlet-class>com.darbuth.pets.controllers.DogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dog</servlet-name>
    <url-pattern>/animals/dog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Routes to the cat page</description>
    <servlet-name>Cat</servlet-name>
    <servlet-class>com.darbuth.pets.controllers.CatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cat</servlet-name>
    <url-pattern>/animals/cat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
</web-app>